/**
 * Porterbuddy widget styles
 */
.porterbuddy-widget {
    font-size: 100%;
	background-color: #f8f8f8;
	padding: 1em;
	margin-bottom: 1em;
}
.porterbuddy-widget.porterbuddy-product {
    border: 1px solid #CCC; 
    padding: 1em; 
    margin-top: 1em;
}
.porterbuddy-widget-title {
    line-height: 1.5em;
    margin-top: 0.5em;
}
.porterbuddy-widget-logo-wrapper.porterbuddy-product {
    overflow: auto;
}
.porterbuddy-widget-logo-wrapper.porterbuddy-product img {
    float: right;
    display: inline;
}


/**
 * Porterbuddy widget form styles
 */
.porterbuddy-widget-return, .porterbuddy-widget-leave-doorstep, .porterbuddy-widget-comment {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.porterbuddy-widget input[type="text"], .porterbuddy-widget textarea {
    background-color: #fdfdfd;
}
.porterbuddy-widget-comment textarea{
    margin-top: 0.5em;
}


/**
 * Porterbuddy widget date selectors
 */
.porterbuddy-widget-date-selectors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    align-items: center;
    line-height: 1.2;
    font-size: 0.9em;
}
.porterbuddy-widget-selected-date {
	font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin: 0 0.1em;
}
.porterbuddy-widget-date-selector.prev-date:before, .porterbuddy-widget-date-selector.next-date:after {
	width: 0.8em;
    height: 0.8em;
    content: " ";
    display: inline-block;
    vertical-align: middle;
	transform: scale(0.8);
	margin-left: 0.2em;
    margin-bottom: 0.1rem;

	-webkit-mask: url(../assets/porterbuddy-arrow.svg) no-repeat 50% 50%;
	mask: url(../assets/porterbuddy-arrow.svg) no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;

	background-color: rgba(0,0,0,0.8);
}
.porterbuddy-widget-date-selector.next-date:after {
    transform: scale(0.8) rotate(180deg);
}
.porterbuddy-widget-selected-date.unavailable, .porterbuddy-widget-date-selector.unavailable {
	color: rgba(0,0,0,0.3);
}
.porterbuddy-widget-date-selector.unavailable:before, .porterbuddy-widget-date-selector.unavailable:after {
	background-color: rgba(0,0,0,0.3);
}


/**
 * Porterbuddy widget timeslots
 */
.porterbuddy-widget-timeslots {
	display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    margin-left: -0.2em;
    margin-right: -0.2em;
    margin-bottom: 1.5em;
}
.porterbuddy-widget-timeslots p {
    margin: 0 2em;
    font-size: 0.9em;
    font-style: italic;
    color: #bbb;
}
.porterbuddy-widget-timeslot {
	border: 1px solid #cdcdcd;
    flex-basis: 7em;
    flex-grow: 1;
    height: 4.5em;
    text-align: center;
    margin: 0.2em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 0.8em;
    padding-right: 0.8em;
    box-sizing: border-box;
    background-color: #fdfdfd;
    cursor: pointer;
}
.porterbuddy-widget-timeslot div{
	flex-basis: 4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.porterbuddy-widget-timeslot h6 {
	font-size: 1em;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    line-height: 1.1em;
}
.porterbuddy-widget-timeslot p {
	font-size: 0.9em;
    color: rgba(0,0,0,0.5);
    margin: 0;
}
.porterbuddy-widget-timeslot .price {
	font-weight: normal;
}
.porterbuddy-widget-timeslot.active {
	background-color: #99e8e1;
}
.porterbuddy-widget-timeslot:hover {
	background-color: #d7f6f3;
}
.porterbuddy-widget-timeslot.active:hover {
	background-color: #99e8e1;
}

/**
 * Porterbuddy general styles
 */
.porterbuddy-error {
    color: red;
    margin-left: 0.2em;
    margin-top: 0.2em;
}
.porterbuddy-hide {
    display: none;
}